.ds-gallery *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
.ds-gallery{
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #88f;
}
.ds-gallery-roll{
  height: 100%;
  background-color: #8f8;
}
.ds-gallery-img{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f88;
}
.ds-gallery-img img{  
  max-height: 100%;
  max-width: 100%;
}

@keyframes swipeLeft{
  0%{
    transform: translateX(unset);
    /*opacity: 1;*/
  }
  100%{
    transform: translateX(-100%);
    /*opacity: 0.5;*/
  }
}
@keyframes swipeRight{
  0%{
    transform: translateX(unset);
    /*opacity: 1;*/
  }
  100%{
    transform: translateX(100%);
    /*opacity: 0.5;*/
  }
}
@keyframes swipeFromLeft{
  0%{
    transform: translateX(100%);
    /*opacity: 0.5;*/
  }
  100%{
    transform: translateX(0);
    /*opacity: 1;*/
  }
}
@keyframes swipeFromRight{
  0%{
    transform: translateX(-100%);
    /*opacity: 0.5;*/
  }
  100%{
    transform: translateX(0);
    /*opacity: 1;*/
  }
}