.ds-gallery *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
.ds-gallery{
  height: 100%;
  width: 100%;
  min-height: 300px;
  overflow: hidden;
}
.ds-gallery-img{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@keyframes swipeLeft{
  0%{
    transform: translateX(unset);
    /*opacity: 1;*/
  }
  100%{
    transform: translateX(-100%);
    /*opacity: 0.5;*/
  }
}
@keyframes swipeRight{
  0%{
    transform: translateX(unset);
    /*opacity: 1;*/
  }
  100%{
    transform: translateX(100%);
    /*opacity: 0.5;*/
  }
}
@keyframes swipeFromLeft{
  0%{
    transform: translateX(100%);
    /*opacity: 0.5;*/
  }
  100%{
    transform: translateX(0);
    /*opacity: 1;*/
  }
}
@keyframes swipeFromRight{
  0%{
    transform: translateX(-100%);
    /*opacity: 0.5;*/
  }
  100%{
    transform: translateX(0);
    /*opacity: 1;*/
  }
}